GP_DesignThinking.aux
GP_DesignThinking.bbl
GP_DesignThinking.blg
GP_DesignThinking.lof
GP_DesignThinking.log
GP_DesignThinking.lot
GP_DesignThinking.out
GP_DesignThinking.toc
GP_DesignThinking.pdf
GP_DesignThinking.fdb_latexmk
GP_DesignThinking.synctex(busy)